<head>
  <link rel="stylesheet" href="css/{{style}}">
</head>
<body>
  <h1>{{ movie.title }}</h1>
  <p><strong>Ano de Lançamento:</strong> {{ movie.year }}</p>
  <p><strong>Diretor:</strong> {{ movie.director }}</p>
  <p><strong>Gênero:</strong> {{ movie.genre }}</p>
  <p><strong>Descrição:</strong> {{ movie.plot }}</p>
  <img src="{{ movie.posterUrl }}" alt="Poster">
</body>