<!-- views/fetch-movie.handlebars -->

<!DOCTYPE html>
<html>
<head>
    <title>Movie Search</title>
    <link rel="stylesheet" href="{{ style }}">
</head>
<body>
    <h1>Movie Search</h1>
    <form action="/fetch-movie" method="POST">
        <input type="text" name="search" placeholder="Enter movie title">
        <button type="submit">Search</button>
    </form>

    {{#if errorMessage}}
        <p class="error">{{ errorMessage }}</p> <!-- Exibe a mensagem de erro -->
    {{else}}
        <!-- Exibe a lista de filmes normalmente -->
        {{#each movie}}
            <div class="movie">
                <h2>{{ title }}</h2>
                <img src="{{ posterUrl }}" alt="{{ title }}">
            </div>
        {{/each}}
    {{/if}}
</body>
</html>
